{% extends "base-user.html" %}

{% block css%}    
{% endblock %}
{% block js%}  
<script>
$(function() {

})  
</script>
{% endblock %}


{% block on_ready%}    
{% endblock %}

{% block content %} 
<div class="pi-container"> 
    <div class="row">
        <div class="box box-solid box-success ">
            <div class="box-header">
                <h3 class="box-title">New Sensor</h3>
            </div><!-- /.box-header -->
            <form action="" method="POST">
                <div class="box-body  ">
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div><!-- /.box -->
    </div>
</div>	
{% endblock %}