{% extends "base-user.html" %}

{% block css%}    
{% endblock %}
{% block js%}    
{% endblock %}


{% block on_ready%}    
{% endblock %}

{% block content %} 
<div class="row">      
    <div class="col-md-12">
        <div class="box box-solid box-navy ">
            <div class="box-header">
                <i class="fa fa-h-square"></i>
                <h3 class="box-title">Document-en</h3>
            </div><!-- /.box-header -->
            <div class="box-body  ">













            </div><!-- /.box-body -->

        </div><!-- /.box -->
    </div>
</div>
{% endblock %}