{% extends "base-user.html" %}

{% block title %} PiHome | GPIO {% endblock %}

{% block css%}    

{% endblock %}

{% block js%}  
{% endblock %}

{% block on_ready%}    
<script>
</script>
{% endblock %}

{% block heading %}    
<h1>
    webcam
</h1>
<ol class="breadcrumb">
 <li><a href="{% url 'PiApp.views.dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
 <li><a href="#">App</a></li>
 <li class="active">webcam</li>
</ol>  
{% endblock %}

{% block content %} 

<div class="row">
  
    <img src="temp.jpg"></img>
</div>


{% endblock %}
