{% extends "base-user.html" %}

{% block title %} PiHome | GPIO {% endblock %}

{% block css%}    
<style type="text/css">

</style>
{% endblock %}

{% block js%}  
{% endblock %}

{% block on_ready%}    
<script>
$(function() {
    $("#open").click( function(){  
        port = $('#camera_port').val();
        $.getJSON("/PiApp/application/webcam/open",  {camera_port : port}, 
            function(data){
                if(data['msg'] != 'ok') {
                    $("#dialog").html("Open failed");
                    $("#dialog").dialog({
                        modal: false,
                        closeText: '<span class="glyphicon glyphicon-play"></span>',
                        buttons: {
                            Ok: function() {
                                $(this).dialog("close");
                            }
                        }
                    });
                }
                $("#surface").attr('src', "temp.jpg?t=" + Math.random());
            });
    });
    $("#close").click( function(){  
        $.getJSON("/PiApp/application/webcam/close",           
            function(data){
                if(data['msg'] != 'ok') {
                    $("#dialog").html("Close failed");

                    $("#dialog").dialog({
                        modal: false,
                        buttons: {
                            Ok: function() {
                                $(this).dialog("close");
                            }
                        }
                    });                   
                }
                $("#surface").attr('src', "temp.jpg?t=" + Math.random());
            });     
    });
    $("#refresh").click( function(){   
            $("#surface").attr('src', "temp.jpg?t=" + Math.random() );
    });
});
</script>
{% endblock %}

{% block heading %}    
<h1>
    webcam
</h1>
<ol class="breadcrumb">
 <li><a href="{% url 'PiApp.views.dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
 <li><a href="#">App</a></li>
 <li class="active">webcam</li>
</ol>  
{% endblock %}

{% block content %} 
<div class="row">
    <center>
        <span>Port:</span>
        <input type="text" id="camera_port" style="margin-left:5px;" value="0">
        <span style="margin-left:20px;">Control:</span>
        <div class="btn-group" style="margin-left:5px;" >
            <button class="btn btn-primary" id="open"><span class="glyphicon glyphicon-play"></span></button>
            <button class="btn btn-primary" id="close"><span class="glyphicon glyphicon-pause"></span></button>
            <button class="btn btn-primary" id="refresh"><span class="glyphicon glyphicon-refresh"></span></button>
        </div>
   </center>
</div>
<div class="row">
    <center style="margin-top: 60px;">
        <h1>snapshot<h1>
        <img id="surface" src="temp.jpg" style="margin-top: 20px;"></img>
   </center>
</div>


{% endblock %}
