/*  Filebrowser Pulldown Actions
------------------------------------------------------------------------------------------------------ */

.pulldown-versions-container {
    position: relative;
    float: left;
}
.pulldown-versions-handler {
    position: relative;
    display: block;
    margin-left: 2px;
    padding: 0 !important;
    width: 22px;
    height: 22px;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.pulldown-versions-handler:link, .pulldown-versions-handler:visited {
    border: 1px solid #2B8AAB;
    background: #309bbf url('../img/icon-pulldown-versions.png') 50% 9px no-repeat scroll;
    background: url('../img/icon-pulldown-versions.png') 50% 9px no-repeat scroll, 
                -moz-linear-gradient(top, #4FB2D3, #309bbf);
    background: url('../img/icon-pulldown-versions.png') 50% 9px no-repeat scroll, 
                -webkit-gradient(linear, left top, left bottom, from(#4FB2D3), to(#309bbf));
}
.pulldown-versions-handler:hover, .pulldown-versions-handler:active {
    border: 1px solid #373737;
    background: #666 url('../img/icon-pulldown-versions-hover.png') 50% 9px no-repeat scroll;
    background: url('../img/icon-pulldown-versions-hover.png') 50% 9px no-repeat scroll, 
                -moz-linear-gradient(top, #555, #444);
    background: url('../img/icon-pulldown-versions-hover.png') 50% 9px no-repeat scroll, 
                -webkit-gradient(linear, left top, left bottom, from(#555), to(#444));
}
.open .pulldown-versions-handler {
    border: 1px solid #373737;
    background: #666 url('../img/icon-pulldown-versions-active.png') 50% 8px no-repeat scroll;
    background: url('../img/icon-pulldown-versions-active.png') 50% 8px no-repeat scroll, 
                -moz-linear-gradient(top, #555, #444);
    background: url('../img/icon-pulldown-versions-active.png') 50% 8px no-repeat scroll, 
                -webkit-gradient(linear, left top, left bottom, from(#555), to(#444));
}
ul.pulldown-versions {
    display: none;
}
.open ul.pulldown-versions {
    display: block;
    position: absolute;
    z-index: 1000;
    margin: 2px 0 0 2px;
    padding: 0;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    background: #eee;
    background: #309bbf;
    box-shadow: 0 0 50px #333; -moz-box-shadow: 0 0 50px #333; -webkit-box-shadow: 0 0 50px #333;
}
ul.pulldown-versions li {
    list-style: none;
    border-top: 1px solid #3da8cc;
    border-bottom: 1px solid #2987a6;
}
ul.pulldown-versions li:first-child {
    border-top: 0;
}
ul.pulldown-versions li:last-child {
    border-bottom: 0;
}
ul.pulldown-versions a {
    display: block;
    padding: 5px 30px 5px 10px;
    white-space: nowrap;
}
ul.pulldown-versions li:first-child a {
    border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}
ul.pulldown-versions li:last-child a {
    border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
}
ul.pulldown-versions a:link, ul.pulldown-versions a:visited {
    color: #fff;
    background: #309bbf;
}
ul.pulldown-versions a:hover, ul.pulldown-versions a:active {
    color: #fff;
    background: #444;
}

/* Table Header */
thead th.sorted .text {
    padding-right: 24px;
}

/* Upload button
------------------------------------------------------------------------------------------------------ */
.qq-upload-button {
    background: #309bbf; /* Old browsers */
    background: -moz-linear-gradient(top, #36b0d9 0%, #309bbf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36b0d9), color-stop(100%,#309bbf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #36b0d9 0%,#309bbf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #36b0d9 0%,#309bbf 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #36b0d9 0%,#309bbf 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36b0d9', endColorstr='#309bbf',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #36b0d9 0%,#309bbf 100%); /* W3C */

    border: 1px solid #2987a6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    padding: 6px;
    font: normal 13px/1 Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 140px;
}
.qq-upload-button:hover {
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top, #444444 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #444444 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #444444 0%,#333333 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #444444 0%,#333333 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #444444 0%,#333333 100%); /* W3C */

    border: 1px solid #333;
}
.qq-upload-list {
    position: relative;
    clear: both;
    margin: 8px -12px 0 -12px;
    border-top: 1px solid #e0e0e0;
}
.qq-upload-list:empty {
    margin-top: 0;
    border-top: 0;
}
.qq-upload-list > div {
    position: relative;
    font: 12px Arial, sans-serif;
    padding: 8px 12px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e0e0e0;
}
.qq-upload-list > div + > div {
    border-top: 1px solid #fff;
}
.qq-upload-list > div:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}
span.qq-upload-file {
    font-weight: bold;
}
.qq-upload-failed-text {
    display: none;
}
.qq-upload-fail .qq-upload-failed-text {
    display: inline;
    margin-left: 10px;
    color: #bf3030;
    font-weight: bold;
}
.qq-upload-cancel {
    position: absolute;
    right: 14px;
    margin: 0;
    color: transparent !important;
    width: 16px;
    height: 16px;
    background: url('../img/cancel.png') top left no-repeat;
    cursor: pointer;
}
.qq-upload-cancel:hover {
    color: transparent !important;
    background: url('../img/cancel_hover.png') top left no-repeat;
}
.qq-upload-size {
    font-size: 11px;
    margin-left: 10px;
}
.progress-bar {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; 

    background-color: #fff;
    border: 1px solid #999;
    height: 6px;
    margin: 4px 0 2px;
}
.progress-bar .content {
    background: #309bbf; /* Old browsers */
    background: -moz-linear-gradient(top, #36b0d9 0%, #309bbf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36b0d9), color-stop(100%,#309bbf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #36b0d9 0%,#309bbf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #36b0d9 0%,#309bbf 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #36b0d9 0%,#309bbf 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#309bbf',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #36b0d9 0%,#309bbf 100%); /* W3C */

    height: 6px;
    width: 0%;
}
.qq-upload-success .progress-bar .content {
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top, #444444 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #444444 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #444444 0%,#333333 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #444444 0%,#333333 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #444444 0%,#333333 100%); /* W3C */
}
