{% extends "base-user.html" %}

{% block title %} PiHome | Dashboard {% endblock %}

{% block css%}    

{% endblock %}

{% block js%}    

{% endblock %}

{% block on_ready%}    
<script type="text/javascript">
$(function() {
    //SLIMSCROLL FOR CHAT WIDGET
    $('#log-box').slimScroll({
    	height: '280'
    });
    // $('#cpp-box').slimScroll({
    // 	height: '320px'
    // });

 //    $('#pihome-btn').click(
	// 	function(){
	// 		$('#pihome-box').css('display', "block");
	//  		$('#cpp-box').css('display', "none");
	// });
 //    $('#cpp-btn').click(
	// 	function(){
	// 		$('#pihome-box').css('display', "none");
	// 		$('#cpp-box').css('display', "block");    		
	// });

});
</script>
{% endblock %}

{% block heading %}    
<h1>
	Dashboard
	<small>Home</small>
</h1>
<ol class="breadcrumb">
	<li><a href="{% url 'PiApp.views.dashboard' %}">home</a></li>
	<li class="active">Dashboard</li>
</ol>  
{% endblock %}

{% block content %} 
<!-- Small boxes (Stat box) -->
<div class="row">
	<div class="col-md-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-blue">
			<div class="inner">
				<h3>
					{{connection}}
				</h3>
				<p>
					Client Connection
				</p>
			</div>
			<div class="icon">
				<i class="fa fa-road"></i>
			</div>
			<a href="{% url 'PiApp.views.settings_general_view' %}" class="small-box-footer">
				More info <i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div><!-- ./col -->
		<div class="col-md-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3>
					{{nas_enable}}
				</h3>
				<p>
					NAS
				</p>
			</div>
			<div class="icon">
				<i class="fa fa-hdd-o"></i>
			</div>
			<a href="{% url 'PiApp.views.nas_file_view' %}" class="small-box-footer">
				More info <i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div><!-- ./col -->

	<div class="col-md-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-green">
			<div class="inner">
				<h3>
					{{connection}}
				</h3>
				<p>
					Host
				</p>
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a href="{% url 'PiApp.views.status_default_view' %}" class="small-box-footer">
				More info <i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div><!-- ./col -->

	<div class="col-md-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-red">
			<div class="inner">
				<h3>
					{{app_num}}
				</h3>
				<p>
					Application
				</p>
			</div>
			<div class="icon">
				<i class="fa fa-rocket"></i>
			</div>
			<a class="small-box-footer">
				&nbsp
			</a>
		</div>
	</div><!-- ./col -->

</div><!-- /.row -->
<div class="row">
	<div class="col-md-6">
		<div class="box box-solid">
			<div class="box-header" >
				<i class="fa fa-star"></i>
				<h3 class="box-title">BoxInfo</h3>
			</div>
			<div class="box-body">
				<table class="table table-condensed"><tbody>
	            	<tr>
	            		<td>Version</td>
	            		<td>{{ VERSION }}</td>
	            	</tr>
	            	<tr>
	            		<td>User Registrations</td>
	            		<td>{{ user_count }}</td>
	            	</tr>		       
	            	<tr>
	            		<td>App installed</td>
	            		<td>
	            			{% for item in APPINFO %}
							    {{ item }}&nbsp
							{% endfor %}
						</td>
	            	</tr>	 
       
            	</tbody></table>               
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="box box-solid" >
			<div class="box-header">
				<i class="fa fa-star"></i>
				<h3 class="box-title">Logging</h3>
			</div>
			<div class="box-body" id="log-box">
				<pre>{{  pihome_log }}</pre>
			</div>
<!-- 			<div class="box-body" id="cpp-box" style="display:none;">
				<pre>{{  cpp_log }}</pre>
			</div> -->
		</div>
	</div>
</div><!-- /.row -->

{% endblock %}