{% extends "base-user.html" %}

{% block title %} PiHome | File {% endblock %}

{% block css%}    

{% endblock %}

{% block js%}  
{% endblock %}

{% block on_ready%}    
{% endblock %}

{% block heading %}    
<h1>
	Nas
	<small>File </small>
</h1>
<ol class="breadcrumb">
	        <li><a href="{% url 'PiApp.views.dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Nas</a></li>
                        <li class="active">File</li>
</ol>  
{% endblock %}

{% block content %} 

<div class="row">





        
				<iframe src="/admin/filebrowser/browse/" frameBorder="0" width="100%" height="540px" ></iframe> 

</div>





{% endblock %}
