{% extends "base-user.html" %}

{% block title %} PiHome | File {% endblock %}

{% block css%}    

{% endblock %}

{% block js%}  
{% endblock %}

{% block on_ready%}    
{% endblock %}

{% block heading %}    
<h1>
	Nas
	<small>FileBrowser </small>
</h1>
<ol class="breadcrumb">
	        <li><a href="/FileBrowser"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Nas</a></li>
                        <li class="active">FileBrowser</li>
</ol>  
{% endblock %}

{% block content %} 

<div class="row">


</div>

{% endblock %}
