{% extends "base-user.html" %}

{% block css%}    
<style type="text/css">
.content {
    padding: 0px 15px;
    padding-top: 20px;
    padding-bottom: 0px;
    background: #f9f9f9;
    overflow: auto;
}
</style>
{% endblock %}

{% block js%}  
<script>
$(function(){
    all_height = $('.left-side').height();
    header_height = $('.content-header').height();
    $('iframe').height(all_height - header_height - 55);   
})
</script>
{% endblock %}

{% block on_ready%}    
{% endblock %}

{% block content %} 

<div class="row">
    <iframe src="/filemanager/" frameBorder="0" width="100%" height="100"></iframe> 
</div>

{% endblock %}
