{% extends "base-user.html" %}

{% block css%}    
{% endblock %}

{% block js%}    
{% endblock %}

{% block on_ready%}    
{% endblock %}

{% block content %} 


<div class="row " >    <div class="col-md-10 col-md-offset-1 ">

    <div class="row">
        <div class="col-md-10 col-md-offset-1 ">


            <div class="box box-solid  box-primary box-frame">
                <div class="box-header">
                    <i class="fa fa-th-large"></i>
                    <h3 class="box-title">MiniDLNA</h3>
                </div>
                <div class="box-body no-padding ">
                    <iframe src="//{{minidlna_url}}" frameBorder="0" width="100%" height="560px" ></iframe> 
                </div><!-- /.box-body-->
            </div><!-- /.box -->

        </div>
    </div>

    <div class="row " style="text-align: center;">
        <div class="error-content">
            <h3 ><i class="fa fa-cloud-download"></i> 
                <a href="https://www.google.com.hk/?gws_rd=ssl#newwindow=1&q=DLNA&safe=strict">Google for DLNA.</a></h3>
                <p>
                    You can use dlna to watch video in your device.
                </p>
            </div><!-- /.error-content -->
        </div>
    </div>
</div>
        {% endblock %}
