{% extends "base-user.html" %}

{% block css%}    
<style>
</style>
{% endblock %}
{% block js%}    
{% endblock %}


{% block on_ready%}    
{% endblock %}

{% block sidebar-settings %} active{% endblock %} 
{% block sidebar-general %} active{% endblock %} 

{% block content %} 

<div class="row "><div class="col-md-6 col-md-offset-3">
	<div class="box box-danger ">
		<div class="box-header account-form">
			<h3 class="box-title">Settings</h3>
		</div><!-- /.box-header -->
		<div class="box-body">
			<form action="" method="POST" >
				{% csrf_token %}
				<!-- text input -->
                {% for field in form %}
                <div class="form-group">
                    <label > {{ field.label }} </label> 
                    <!--                     <input type="{{field.widget}}" class="form-control" name="{{field.html_name}}" value="{{ field.value }}"/> -->
                    {{ field }} 
                    {{field.errors}}  
                </div>
                {% endfor %}
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div><!-- /.box-body -->
	</div><!-- /.box -->

</div>	</div>


{% endblock %}