{% extends "base-user.html" %}

{% block css%}    
{% endblock %}
{% block js%}    
{% endblock %}


{% block on_ready%}    
{% endblock %}

{% block content %} 

<div class="row">      
    <div class="col-md-12">

        <div class="box box-solid box-navy">
            <div class="box-header">
                <i class="fa fa-book"></i>
                <h3 class="box-title">Log</h3>
            </div>
            <div class="box-body">
                <pre>{{ log }}</pre>
            </div><!-- /.box-body -->
        </div>
    </div>   
</div>
{% endblock %}