{% extends "base-user.html" %}

{% block title %} PiHome | Kernel log {% endblock %}

{% block css%}    
{% endblock %}
{% block js%}    
{% endblock %}


{% block on_ready%}    
{% endblock %}

{% block heading %}    
<h1>
	Status
	<small>Kernel log </small>
</h1>
<ol class="breadcrumb">
	        <li><a href="{% url 'PiApp.views.dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Status</a></li>
                        <li class="active">Kernel log</li>
</ol>  
{% endblock %}

{% block content %} 

<div class="pi-container  ">

        <div class="box box-solid box-navy">
            <div class="box-header">
                <h3 class="box-title">Log</h3>
            </div>
            <div class="box-body">
                <pre>{{ log }}</pre>
            </div><!-- /.box-body -->
        </div>

</div>
{% endblock %}