{% extends "base-user.html" %}

{% block css%}    
{% endblock %}
{% block js%} 
<script>
$(function() {
})  
</script>   
{% endblock %}


{% block on_ready%}    
{% endblock %}

{% block content %} 
<div class="pi-container"> 
    <div class="row ">
        <div class="box box-solid box-navy ">
            <div class="box-header">
                <i class="fa fa-laptop"></i>
                <h3 class="box-title">Process</h3>
            </div><!-- /.box-header -->
            <div class="box-body  ">
              <table class="table table-hover">
                <tbody><tr>
                  <th>ID</th>
                  <th>User</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Reason</th>
                </tr>
                <tr>
                  <td>183</td>
                  <td>John Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-success">Approved</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>219</td>
                  <td>Jane Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>657</td>
                  <td>Bob Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-primary">Approved</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>175</td>
                  <td>Mike Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-danger">Denied</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
              </tbody></table>





            </div><!-- /.box-body -->

        </div><!-- /.box -->
    </div>
</div>
{% endblock %}