{% extends "base-user.html" %}

{% block title %} PiHome | Server {% endblock %}

{% block css%}    
{% endblock %}
{% block js%}    
{% endblock %}


{% block on_ready%}    
{% endblock %}

{% block heading %}    
<h1>
	Status
	<small>Server </small>
</h1>
<ol class="breadcrumb">
	        <li><a href="{% url 'PiApp.views.dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Status</a></li>
                        <li class="active">Server</li>
</ol>  
{% endblock %}

{% block sidebar-status %} active{% endblock %} 
{% block sidebar-server %} active{% endblock %} 

{% block content %} 

<div class="row "><div class="col-md-6 col-md-offset-3">

<div class="box box-solid box-danger ">
                                <div class="box-header">
                                    <i class="fa fa-laptop"></i>
                                    <h3 class="box-title">About</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body  ">
                                    <dl class="dl-left">
                                        <dt  >Pihome Version</dt>
                                        <dd>V 0.1.0</dd> 
                                    </dl>
                                </div><!-- /.box-body -->
                                                                <div class="box-footer text-center">
 <a href="https://github.com/wzyy2"> Check New</a>
                                </div>
                            </div><!-- /.box -->

</div>	</div>
{% endblock %}